{% extends "auctions/layout.html" %}

{% block body %}
<h2>My winnings!</h2>
{% for listing in listings %}
    <h3>Congraulations! You have won the following item.</h3>
    <div class="row">
        <div class="col-sm-4" >
            <img class="col align-self-start" src= "{{ listing.image }}" alt="Auction image" style="width: 18rem;">
        </div>
        <div class="col-sm-8">
            <h3 class="card-title" >
                {{ listing.title }}
            </h3>
            <h5 class="card-text" >Price: {{ listing.highest_bid }}</h5>
            <br>
            <h5 class="card-text">{{ listing.description }}</h5>
            <p class="card-text"><small class="text-muted">---Created on: {{ listing.created_date }}</small></p>
            <p class="card-text"><small class="text-muted">---Created by: {{ listing.creator }}</small></p>  
        </div>
    </div>
{% endfor %}
{% endblock %}